.all-stadium{
    padding-top: 60px;
}

.stad-title{
    color: var(--secondary-color);
    text-align: center;
    font-family: var(--main-font);
    font-weight: bolder;
    font-size: 40px;
}

.stads{
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
}

.stade-list{
    list-style: none;
    color: var(--light-main);
    font-family: var(--secondary-font);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stadium-img{
    border-radius: 4px;
}
