.roster-all{
    padding-top: 125px;
}

.roster-title{
    color: var(--secondary-color);
    text-align: center;
    font-family: var(--main-font);
    font-weight: bolder;
    font-size: 40px;
}

.player-title{
        color: var(--dark);
        text-align: center;
        font-family: var(--main-font);
        font-weight: bolder;
        font-size: 35px;
        padding-top: 60px;
        padding-bottom: 60px;
}



tr:hover {
    background-color: var(--main-color);
}

th, td {
    padding: 15px;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    font-family: var(--secondary-font);
    margin-bottom: 80px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--secondary-color);
    color: var(--dark);
}

table, td, th {
    border: 1px solid black;
}
  